@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Crete+Round:ital@0;1&family=Great+Vibes&family=Hurricane&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&family=Lobster&family=Lobster+Two:ital,wght@0,700;1,700&family=Merriweather+Sans:wght@600&family=Monoton&family=Pacifico&family=Patua+One&family=Playball&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;600;700&family=Redressed&family=Roboto+Serif:opsz,wght@8..144,600;8..144,700&family=Roboto+Slab:wght@400;500;800&family=Roboto:wght@400;500;700;900&family=Rowdies:wght@300&family=Tiro+Devanagari+Marathi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Crete+Round:ital@0;1&family=Great+Vibes&family=Hurricane&family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500;1,700&family=Lato&family=Lobster&family=Lobster+Two:ital,wght@0,700;1,700&family=Merriweather+Sans:wght@600&family=Monoton&family=Open+Sans:wght@700&family=Pacifico&family=Patua+One&family=Playball&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;600;700&family=Redressed&family=Roboto+Serif:opsz,wght@8..144,600;8..144,700&family=Roboto+Slab:wght@400;500;800&family=Roboto:wght@400;500;700;900&family=Rowdies:wght@300&family=Tiro+Devanagari+Marathi&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Redressed', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rowdies', cursive;
}
html{
    scroll-behavior:smooth;
}
body{
    min-height:100vh;
    max-width:100vw;
}

